	<div class="large-4 column" id="sidebar">
		<h3>Products</h3>
		<ul class="menu-sidebar">
			<li>TABLES</li>
			<ul>
				<li>Dining</li>
				<li>Coffee</li>
				<li>Desks</li>
				<li>Console</li>
				<li>Side</li>
			</ul>
			<li>LIGHTING</li>
			<ul>
				<li>Table</li>
				<li>Hanging</li>
				<li>Pendant</li>
				<li>Wall</li>
				<li>Floor</li>
			</ul>
			<li>SEATING</li>
			<li>SCULPTURES</li>
			<li>ACCESSORIES</li>
			<li>SHOWROOM</li>
			<li>CUSTOM</li>
		</ul>
	</div>